USE [master]
GO
/****** Object:  Database [HD_Store]    Script Date: 4/28/2024 5:40:31 PM ******/
CREATE DATABASE [HD_Store]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HD_Store', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HD_Store.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HD_Store_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HD_Store_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HD_Store].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HD_Store]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/28/2024 5:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 4/28/2024 5:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[account_username] [varchar](20) NOT NULL,
	[account_email] [varchar](255) NOT NULL,
	[account_password] [varchar](255) NOT NULL,
	[account_confirm_password] [varchar](255) NOT NULL,
	[account_phone] [varchar](10) NOT NULL,
	[account_address] [varchar](255) NULL,
	[account_birthday] [datetime2](7) NOT NULL,
	[account_gender] [varchar](20) NOT NULL,
	[token] [varchar](255) NULL,
	[refesh_token] [varchar](255) NULL,
	[refesh_token_exprytime] [datetime2](7) NOT NULL,
	[reset_password_token] [varchar](255) NULL,
	[reset_password_exprytime] [datetime2](7) NOT NULL,
	[account_status] [varchar](10) NOT NULL,
	[account_avatar] [varchar](255) NULL,
	[account_role_id] [int] NOT NULL,
	[account_rejected_times] [int] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart_Details]    Script Date: 4/28/2024 5:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart_Details](
	[cd_id] [int] IDENTITY(1,1) NOT NULL,
	[cd_quantity] [int] NOT NULL,
	[cd_cart_id] [int] NOT NULL,
	[cd_product_id] [int] NOT NULL,
 CONSTRAINT [PK_Cart_Details] PRIMARY KEY CLUSTERED 
(
	[cd_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 4/28/2024 5:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/28/2024 5:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](30) NOT NULL,
	[category_description] [varchar](255) NULL,
	[category_status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 4/28/2024 5:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[image_uri] [varchar](255) NOT NULL,
	[i_product_id] [int] NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Details]    Script Date: 4/28/2024 5:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Details](
	[od_id] [int] IDENTITY(1,1) NOT NULL,
	[od_quantity] [int] NOT NULL,
	[od_order_id] [int] NOT NULL,
	[od_product_id] [int] NOT NULL,
	[od_product_price] [float] NOT NULL,
 CONSTRAINT [PK_Order_Details] PRIMARY KEY CLUSTERED 
(
	[od_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/28/2024 5:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[order_date] [datetime2](7) NOT NULL,
	[delivery_date] [datetime2](7) NULL,
	[order_address] [varchar](255) NOT NULL,
	[order_phone] [varchar](10) NOT NULL,
	[order_quantity] [int] NOT NULL,
	[order_note] [varchar](255) NULL,
	[order_status] [varchar](20) NOT NULL,
	[order_payment] [varchar](255) NOT NULL,
	[o_account_id] [int] NOT NULL,
	[order_total_price] [float] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/28/2024 5:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](255) NOT NULL,
	[product_quantity_stock] [int] NOT NULL,
	[product_original_price] [float] NOT NULL,
	[product_sell_price] [float] NOT NULL,
	[product_description] [varchar](max) NULL,
	[product_image] [varchar](255) NULL,
	[product_import_date] [datetime2](7) NULL,
	[product_status] [varchar](15) NOT NULL,
	[p_size_id] [int] NOT NULL,
	[p_category_id] [int] NOT NULL,
	[p_supplier_id] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/28/2024 5:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 4/28/2024 5:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[size_id] [int] IDENTITY(1,1) NOT NULL,
	[size_number] [int] NOT NULL,
	[size_status] [varchar](5) NOT NULL,
 CONSTRAINT [PK_Sizes] PRIMARY KEY CLUSTERED 
(
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 4/28/2024 5:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_name] [varchar](30) NOT NULL,
	[supplier_email] [varchar](255) NOT NULL,
	[supplier_address] [varchar](255) NOT NULL,
	[supplier_phone] [varchar](10) NOT NULL,
	[supplier_status] [varchar](5) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240330044733_Update-database-30-03-2024', N'7.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240406033328_update-order-table', N'7.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240406035232_update-table', N'7.0.0')
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

GO
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart_Details] ON 

INSERT [dbo].[Cart_Details] ([cd_id], [cd_quantity], [cd_cart_id], [cd_product_id]) VALUES (157, 1, 9, 190)
INSERT [dbo].[Cart_Details] ([cd_id], [cd_quantity], [cd_cart_id], [cd_product_id]) VALUES (158, 1, 9, 128)
INSERT [dbo].[Cart_Details] ([cd_id], [cd_quantity], [cd_cart_id], [cd_product_id]) VALUES (159, 1, 9, 107)
SET IDENTITY_INSERT [dbo].[Cart_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([cart_id], [account_id]) VALUES (1, 1)
INSERT [dbo].[Carts] ([cart_id], [account_id]) VALUES (9, 10)
INSERT [dbo].[Carts] ([cart_id], [account_id]) VALUES (10, 11)
GO
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([category_id], [category_name], [category_description], [category_status]) VALUES (1, N'Chelsea Boot', N'This is the Chelsea Boot type', N'Yes')
INSERT [dbo].[Categories] ([category_id], [category_name], [category_description], [category_status]) VALUES (2, N'Chunky Boot', N'This is the Chunky Boot type', N'Yes')
INSERT [dbo].[Categories] ([category_id], [category_name], [category_description], [category_status]) VALUES (12, N'Loafer', N'This is the Loafer type', N'Yes')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Images] ON 

INSERT [dbo].[Images] ([image_id], [image_uri], [i_product_id]) VALUES (343, N'chelseablack1.png', 103)
INSERT [dbo].[Images] ([image_id], [image_uri], [i_product_id]) VALUES (344, N'chelseablack2.png', 103)
INSERT [dbo].[Images] ([image_id], [image_uri], [i_product_id]) VALUES (345, N'chelseablack3.png', 103)
GO
SET IDENTITY_INSERT [dbo].[Images] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Details] ON 

INSERT [dbo].[Order_Details] ([od_id], [od_quantity], [od_order_id], [od_product_id], [od_product_price]) VALUES (94, 5, 61, 183, 1000)
INSERT [dbo].[Order_Details] ([od_id], [od_quantity], [od_order_id], [od_product_id], [od_product_price]) VALUES (95, 2, 61, 194, 400)
INSERT [dbo].[Order_Details] ([od_id], [od_quantity], [od_order_id], [od_product_id], [od_product_price]) VALUES (96, 2, 61, 226, 400)
GO
SET IDENTITY_INSERT [dbo].[Order_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([order_id], [order_date], [delivery_date], [order_address], [order_phone], [order_quantity], [order_note], [order_status], [order_payment], [o_account_id], [order_total_price]) VALUES (61, CAST(N'2024-03-21T13:48:50.7429778' AS DateTime2), CAST(N'2024-03-24T13:48:50.7429778' AS DateTime2), N'Vinh Long', N'0939616646', 9, N'', N'Delivered', N'Cash On Banking', 10, 1805)
INSERT [dbo].[Orders] ([order_id], [order_date], [delivery_date], [order_address], [order_phone], [order_quantity], [order_note], [order_status], [order_payment], [o_account_id], [order_total_price]) VALUES (62, CAST(N'2024-03-26T13:48:50.7429778' AS DateTime2), CAST(N'2024-03-28T13:48:50.7429778' AS DateTime2), N'Can Tho', N'0916161616', 10, N'', N'Delivered', N'Cash On Banking', 10, 2005)
INSERT [dbo].[Orders] ([order_id], [order_date], [delivery_date], [order_address], [order_phone], [order_quantity], [order_note], [order_status], [order_payment], [o_account_id], [order_total_price]) VALUES (63, CAST(N'2024-03-30T13:48:50.7429778' AS DateTime2), CAST(N'2024-03-30T13:48:50.7429778' AS DateTime2), N'Can Tho', N'0961616161', 2, N'', N'Delivered', N'Cash On Delivery', 10, 405)
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([product_id], [product_name], [product_quantity_stock], [product_original_price], [product_sell_price], [product_description], [product_image], [product_import_date], [product_status], [p_size_id], [p_category_id], [p_supplier_id]) VALUES (105, N'THE GENT HD STORE CHELSEA BOOT BLACK', 101, 100, 200, N'Color: Smooth black.
Leather material: Imported cowhide.
Shoe sole material: High quality rubber.
Inner lining: High quality canvas fabric, goat leather.
Heel height: 3.8 cm.', N'chelseablack1.png', CAST(N'2024-04-21T11:31:47.8147592' AS DateTime2), N'Yes', 3, 1, 12)
INSERT [dbo].[Products] ([product_id], [product_name], [product_quantity_stock], [product_original_price], [product_sell_price], [product_description], [product_image], [product_import_date], [product_status], [p_size_id], [p_category_id], [p_supplier_id]) VALUES (106, N'THE GENT HD STORE CHELSEA BOOT BLACK', 99, 100, 200, N'Color: Smooth black.
Leather material: Imported cowhide.
Shoe sole material: High quality rubber.
Inner lining: High quality canvas fabric, goat leather.
Heel height: 3.8 cm.', N'chelseablack1.png', CAST(N'2024-04-21T11:31:49.9343720' AS DateTime2), N'Yes', 4, 1, 12)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (2, N'Manager')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (3, N'Customer')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Sizes] ON 

INSERT [dbo].[Sizes] ([size_id], [size_number], [size_status]) VALUES (1, 39, N'Yes')
INSERT [dbo].[Sizes] ([size_id], [size_number], [size_status]) VALUES (2, 40, N'Yes')
INSERT [dbo].[Sizes] ([size_id], [size_number], [size_status]) VALUES (3, 41, N'Yes')
SET IDENTITY_INSERT [dbo].[Sizes] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([supplier_id], [supplier_name], [supplier_email], [supplier_address], [supplier_phone], [supplier_status]) VALUES (12, N'The Wolf', N'thewolf@gmail.com', N'Binh Chanh, TP.HCM', N'0346715942', N'Yes')
INSERT [dbo].[Suppliers] ([supplier_id], [supplier_name], [supplier_email], [supplier_address], [supplier_phone], [supplier_status]) VALUES (14, N'Leather Mart', N'leathermart@gmail.com', N'TP.HCM', N'0346498164', N'No')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
/****** Object:  Index [IX_Accounts_account_role_id]    Script Date: 4/28/2024 5:40:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_account_role_id] ON [dbo].[Accounts]
(
	[account_role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cart_Details_cd_cart_id]    Script Date: 4/28/2024 5:40:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Cart_Details_cd_cart_id] ON [dbo].[Cart_Details]
(
	[cd_cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cart_Details_cd_product_id]    Script Date: 4/28/2024 5:40:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Cart_Details_cd_product_id] ON [dbo].[Cart_Details]
(
	[cd_product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Carts_account_id]    Script Date: 4/28/2024 5:40:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Carts_account_id] ON [dbo].[Carts]
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Images_i_product_id]    Script Date: 4/28/2024 5:40:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Images_i_product_id] ON [dbo].[Images]
(
	[i_product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_Details_od_order_id]    Script Date: 4/28/2024 5:40:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Order_Details_od_order_id] ON [dbo].[Order_Details]
(
	[od_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_Details_od_product_id]    Script Date: 4/28/2024 5:40:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Order_Details_od_product_id] ON [dbo].[Order_Details]
(
	[od_product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_o_account_id]    Script Date: 4/28/2024 5:40:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_o_account_id] ON [dbo].[Orders]
(
	[o_account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_p_category_id]    Script Date: 4/28/2024 5:40:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_p_category_id] ON [dbo].[Products]
(
	[p_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_p_size_id]    Script Date: 4/28/2024 5:40:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_p_size_id] ON [dbo].[Products]
(
	[p_size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_p_supplier_id]    Script Date: 4/28/2024 5:40:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_p_supplier_id] ON [dbo].[Products]
(
	[p_supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [account_rejected_times]
GO
ALTER TABLE [dbo].[Order_Details] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [od_product_price]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [order_total_price]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Roles_account_role_id] FOREIGN KEY([account_role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Roles_account_role_id]
GO
ALTER TABLE [dbo].[Cart_Details]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Details_Carts_cd_cart_id] FOREIGN KEY([cd_cart_id])
REFERENCES [dbo].[Carts] ([cart_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cart_Details] CHECK CONSTRAINT [FK_Cart_Details_Carts_cd_cart_id]
GO
ALTER TABLE [dbo].[Cart_Details]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Details_Products_cd_product_id] FOREIGN KEY([cd_product_id])
REFERENCES [dbo].[Products] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cart_Details] CHECK CONSTRAINT [FK_Cart_Details_Products_cd_product_id]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Accounts_account_id] FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Accounts_account_id]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_Products_i_product_id] FOREIGN KEY([i_product_id])
REFERENCES [dbo].[Products] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_Products_i_product_id]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Order_Details_Orders_od_order_id] FOREIGN KEY([od_order_id])
REFERENCES [dbo].[Orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_Order_Details_Orders_od_order_id]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Order_Details_Products_od_product_id] FOREIGN KEY([od_product_id])
REFERENCES [dbo].[Products] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_Order_Details_Products_od_product_id]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Accounts_o_account_id] FOREIGN KEY([o_account_id])
REFERENCES [dbo].[Accounts] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Accounts_o_account_id]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_p_category_id] FOREIGN KEY([p_category_id])
REFERENCES [dbo].[Categories] ([category_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_p_category_id]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Sizes_p_size_id] FOREIGN KEY([p_size_id])
REFERENCES [dbo].[Sizes] ([size_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Sizes_p_size_id]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Suppliers_p_supplier_id] FOREIGN KEY([p_supplier_id])
REFERENCES [dbo].[Suppliers] ([supplier_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Suppliers_p_supplier_id]
GO
USE [master]
GO
